@charset "UTF-8";
/* UTF-8一定要在行數1 */
@import url('https://fonts.googleapis.com/css2?family=Courgette&Noto+Sans+TC:wght@100..900&display=swap');

/* 一定要在第二行 */
@font-face {
    font-family: Bridgers;
    src: url(../webfons/Bridgers\ Brush.ttf);
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加內距padding與邊框border */
}


* {
    margin: 0;
    font-family: 'poppins', sans-serif;
}


/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;

}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #F3F4EC;
    /* min-height: 1500px;
    max-width: 1440px;  */
    margin: 0 auto; /* 讓內容居中顯示 */
}

/* 標題共用區 */
.title {
    color: #C97200;
    margin: 2% 0% 2% 2%;
    font-size: 3.5rem;
}

/* navbar */
.navigation .menu {
    display: flex;
    margin: 15px 0px;
    /* 控制父層的外距 */
    padding: 10px;
    justify-content: flex-end;

}

.navigation .menu a {
    color: #5C3C12;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 20px;
    /* 控制子層的外距 */
    text-decoration: none;
    /* 移除文字底線 */

}

.navigation .menu li {
    display: flex;
    align-items: center;
    /* 使圖片和文字在列表項內垂直居中對齊 */
}

.navigation .menu img {
    height: 1.5rem;
    width: auto;
    /* 保持圖片比例 */
    vertical-align: middle;
    /* 將圖片與文字垂直對齊 */
}

/* 漢堡按鈕的基礎樣式 */
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* 三條垂直排列 */
    justify-content: space-between;
    /* 子元素均勻地分佈 */
    width: 25px;
    height: 1.1rem;
}

/* 漢堡按鈕中每條 bar 的樣式 */
.hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #5C3C12;
    border-radius: 3px;
}


/* banner區 */
#banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#banner:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #F3F4EC, transparent);
    z-index: 1000;
}


#title {
    position: absolute;
    color: #FFF;
    left: 2%;
    top: 100px;
    font-size: 5.5rem;
    z-index: 1;

}

#title1 {
    position: absolute;
    color: #FFF;
    right: 1%;
    font-size: 1.2rem;
    z-index: 1;

}

#road {
    z-index: 2;

}

/* 跑馬燈logo區 */
#logo {
    margin: 4%;
    justify-content: flex-start;
    /* 控制照片之間的間距 */
    gap: 3%;
    /* 照片之間的空隙 */
    display: flex;
}


/* 租裝備日期區 */
#date {
    background-color: #CCCFBE;
    display: flex;
    justify-content: center;
    /* 水平置中 */
    align-items: center;
    /* 垂直置中 */
    width: 100%;
    height: 200px;
    color: #5C3C12;
    justify-content: space-evenly;
}

#date>* {
    margin: 0 -230px;

}

.text h1 {
    padding-top: 12px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
}

.text h3 {
    font-size: 1.2rem;
    padding-left: 2px;
    line-height: 1.3;
}

.rentDate h3 {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 3px;
}

.customDate {
    width: 100%;
    height: 45%;
    background-color: #CCCFBE;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    /* 清除其他邊框 */
    border-bottom: 2px solid #5C3C12;
    /* 只保留底部藍色邊框 */
    color: #5C3C12;
    cursor: pointer;
}

#confirm {
    width: 8%;
    height: 20%;
    color: #5C3C12;
    background-color: #CCCFBE;
    font-size: 1.1rem;
    font-weight: 600;
    border: 2px solid #5C3C12;
    cursor: pointer;
    transition: 0.6;
}

#confirm:hover {
    background-color: #a9ae9a;
}

/* shop區 */
#shop {
    position: relative;
    width: 100%;
    height: 100vh;
}

#shopPic {
    position: absolute;
    width: 60%;
    height: 78%;
    left: 6%;
    object-fit: cover;
    z-index: 1;
}

.sawtooth {
    position: relative;
    /* 确保子元素的绝对定位基于这个容器 */
    width: 100%;
    height: 100vh;
}

.sawtooth1 {
    width: 45%;
    height: 62%;
    background-color: #A0A589;
    left: 50%;
    top: 10%;
    clip-path: polygon(100% 0%, 95% 5%, 100% 10%, 95% 15%, 100% 20%, 95% 25%,
            100% 30%, 95% 35%, 100% 40%, 95% 45%, 100% 50%, 95% 55%,
            100% 60%, 95% 65%, 100% 70%, 95% 75%, 100% 80%, 95% 85%,
            100% 90%, 95% 95%, 100% 100%, 0% 100%, 0% 0%);
    position: absolute;
    z-index: 2;
}

.sawtooth2 {
    width: 45%;
    height: 62%;
    background-color: #CCCFBE;
    left: 50.5%;
    top: 9%;
    clip-path: polygon(100% 0%, 95% 5%, 100% 10%, 95% 15%, 100% 20%, 95% 25%,
            100% 30%, 95% 35%, 100% 40%, 95% 45%, 100% 50%, 95% 55%,
            100% 60%, 95% 65%, 100% 70%, 95% 75%, 100% 80%, 95% 85%,
            100% 90%, 95% 95%, 100% 100%, 0% 100%, 0% 0%);
    position: absolute;
    z-index: 3;
}

#types {
    position: absolute;
    top: 13%;
    left: 54%;
    z-index: 4;
    color: #5C3C12;
    font-size: 2rem;
    white-space: nowrap;
}

#gearContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 58%;
    top: 20%;
    width: 34%;
    gap: 22px;
    z-index: 5;
}

.gearRow {
    display: flex;
    justify-content: space-between;
    /* 讓每行內的兩個項目水平排列 */
    width: 100%;
    /* 控制每行的寬度 */
}

.gearItem {
    display: flex;
    flex-direction: row;
    /* 讓圖片和文字垂直排列 */
    align-items: center;
    /* 水平居中對齊 */
    width: 50%;
    /* 控制每個項目的寬度，使其占據行的一半 */
    gap:6px;
}

.gearItem img {
    width: 80px;
    cursor: pointer;
}

.gearItem h3 {
    color: #5C3C12;
    text-align: center;
    font-size: 1rem;
    
}

/* NEWS區 */
#news {
    position: relative;
    width: 100%;
    height: 120vh;
}
.newsArea{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #CCCFBE;
    left: 7%;
    z-index: 1;
}
.carousel{
    position: relative;
    z-index: 2;
    width: 80%;
    left: 12%;
    top: 10%;
}
.carousel-1{
    display: flex;
}
.content-wrapper{
    display: flex;
}
.text-section{
    width: 30%;
}
.text-section h2{
    color: #5C3C12;
    font-weight: 550;
    letter-spacing: 1.5px;
    font-size: 1.8rem;
}
.text-section p{
    color: #5C3C12;
    font-size: 1.2rem;
    line-height: 2.5;
    font-weight: 550;
    letter-spacing: 1px;
    text-align: justify;
    margin-top:10%;
}
#fuji{
    font-size: 3rem;
}

.newsImg img{
    width: 100%;
    max-width: 1100px;
    height: 95%;
    padding-left: 8%;
}

.dots{
    color: #5C3C12;
    font-size: 24px;
    letter-spacing: 12px;
    text-align: center;
    padding-top:55%
}
.gearNews{
    position: relative;
    z-index: 2;
    width: 80%;
    left: 12%;
    top: 14%;
    
}
.gearNews1{
    display: flex;
}

.gearNews img{
    width: 20%;
    height: 28vh;
    padding-right: 2%;
    object-fit: cover;
}



/* 卷軸 */
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #ffff;
}

html::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #85942D;
    height: 5px;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #c97200 #ffff;
}