@charset "UTF-8";
/* UTF-8一定要在行數1 */
@import url('https://fonts.googleapis.com/css2?family=Courgette&Noto+Sans+TC:wght@100..900&display=swap');

/* 一定要在第二行 */
@font-face {
    font-family: Bridgers;
    src: url(../webfons/Bridgers\ Brush.ttf);
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加內距padding與邊框border */
}


* {
    margin: 0;
    font-family: 'poppins', sans-serif;
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;

}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #F3F4EC;
    min-height: 1500px;
}

/* navbar */
.navigation .menu {
    display: flex;
    margin: 15px 0px;
    /* 控制父層的外距 */
    padding: 10px;
    justify-content: flex-end;
    
}

.navigation .menu a {
    color: #5C3C12;
    font-size: .9rem;
    line-height: 1;
    margin: 0 20px;
    /* 控制子層的外距 */
    text-decoration: none; /* 移除文字底線 */
    
}

.navigation .menu li {
    display: flex;
    align-items: center; /* 使圖片和文字在列表項內垂直居中對齊 */
}

.navigation .menu img {
    height: 1.5rem;
    width: auto; /* 保持圖片比例 */
    vertical-align: middle; /* 將圖片與文字垂直對齊 */
}

/* banner區 */
#banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#banner:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #F3F4EC, transparent);
    z-index: 1000;
}


#text {
    position: absolute;
    color: #FFF;
    right: 340px;
    top: 100px;
    font-size: 5rem;
    z-index: 1;

}

#road {
    z-index: 2;

}

/* 卷軸 */
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #ffff;
}

html::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #85942D;
    height: 5px;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #85942D #ffff;
}